<div class="row mt-2" *ngIf="!created">
  <div class="d-none d-md-block col-md-2 col-xl-3"></div>
  <div class="col-12 col-md-8 col-xl-6">
    <app-user-card 
      [user]="user"
      [title]="title"
      [createBtn]="true"
      (createdEvent)="create()">
    </app-user-card>
  </div>
  <div class="d-none d-md-block  col-md-2 col-xl-3"></div>
</div>

<div *ngIf="created">
  <h3>Registration was succesfull!</h3>
  <button class="btn btn-success" (click)="newUser()"> + Add More</button>
</div>
